body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px 0;
    width: 100%;
    box-sizing: border-box;
}

.toolbar input[type="button"] {
    margin: 0 5px 0 5px;
}

.toolbar input[type="radio"] {
    margin: 0 10px;
}

#grpCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: calc(100vh - 50px); /* Adjust this value based on the height of your grpType div */
    margin: 10px 0;
    overflow: hidden;
    border: 1px solid #000;
}

#cvsMain {
    width: 100%;
    height: 100%;
}
